<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <style>

  </style>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css"/>
  <title>Core Features</title>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="topnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Gen Con <span th:text="${year}">2013</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- TODO: Dropdown with stuff for the user if they're logged in. -->
        <li th:if="${user == null}"><a href="/login" th:href="@{${authUrl}}">Sign in</a></li>
        <li th:if="${user != null}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span th:text="${user.nickname}"></span>'s Account<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/starred" th:href="@{${urls.sitePath('starred')}}">Starred Events</a></li>
            <!--<li><a href="/prefs" th:href="@{${urls.sitePath('prefs')}}">Preferences</a></li>-->
            <!-- TODO: party -->
            <li class="divider"></li>
            <li><a href="/logout" th:href="@{${authUrl}}">Sign out</a></li>
          </ul>
        </li>
        <li><a href="/2013/categories" th:href="@{${urls.sitePath('categories')}}">Browse Categories</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/search">
        <input type="text" class="form-control" style="min-width: 300px;" placeholder="Search..." name="q"/>
      </form>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container" th:fragment="pagefooter">
  <center><a href="/about">About</a> - Last updated at <span th:text="${syncStatus.readableSyncTime}"></span> - Ticket availability likely not accurate</center>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16179668-4', 'lightpegasus.com');
  ga('send', 'pageview');

  </script>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
