<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css"/>

  <title>Search Results</title>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" th:replace="core :: topnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gen Con 2013 Scheduler</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <form class="navbar-form navbar-right col-sm-6" action="/search">
        <input type="text" class="form-control" style="min-width: 300px;" placeholder="Search..." />
      </form>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <h1 class="page-header">Search Results <small><a href="#" th:href="@{${urls.sitePath('advancedSearch')}}">(Advanced Search)</a></small></h1>
  <div class="row">
    <div class="main">
      <h4 th:text="${query}">category:ANI</h4>
      <div class="row">
        <div class="list-group col-md-12" th:fragment="results">
          <a href="#" th:each="r : ${results}"
             th:href="@{${urls.sitePath('event')} + ${r.event.gameId}}"
             class="list-group-item" style="font-size: small;">
            <h4>
            <span class="badge" th:if="${r.similarEventCount > 1}"
                  th:text="${r.similarEventCount} + ' sessions'">10 sessions</span>
              <span th:text="${r.event.title}">True Dungeon! Lycans Afoot (Combat-Oriented)</span>
              <span class="small" th:text="${r.event.gameSystem}">Magic: The Gathering</span>
              <span class="small" th:text="${r.event.rulesEdition}">Current - Vintage</span>
            </h4>
            <p th:text="${r.event.shortDescription}">
              Face off against werewolves in True Dungeon!
            </p>
            <ul class="list-inline">
              <li><strong>Wed</strong> <span th:text="${r.wedAvailable}">1</span> tickets / <span th:text="${r.wedOpenEvents}">1</span> session<span th:if="${r.wedOpenEvents != 1}">s</span></li>
              <li><strong>Thurs</strong> <span th:text="${r.thursAvailable}">1</span> tickets / <span th:text="${r.thursOpenEvents}">1</span> session<span th:if="${r.thursOpenEvents != 1}">s</span></li>
              <li><strong>Fri</strong> <span th:text="${r.friAvailable}">1</span> tickets / <span th:text="${r.friOpenEvents}">1</span> session<span th:if="${r.friOpenEvents != 1}">s</span></li>
              <li><strong>Sat</strong> <span th:text="${r.satAvailable}">1</span> tickets / <span th:text="${r.satOpenEvents}">1</span> session<span th:if="${r.satOpenEvents != 1}">s</span></li>
              <li><strong>Sun</strong> <span th:text="${r.sunAvailable}">1</span> tickets / <span th:text="${r.sunOpenEvents}">1</span> session<span th:if="${r.sunOpenEvents != 1}">s</span></li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="core :: pagefooter">I did this!</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
