<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css"/>
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" media="print"/>
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css"/>

  <title>Starred Events</title>

  <style>
    .calevent {
      color: #FFFFFF;
    }

    a.calANI, tr.calANI {background-color: #A9177E;}
    a.calBGM, tr.calBGM {background-color: #0073AA;}
    a.calCGM, tr.calCGM {background-color: #6B2355;}
    a.calEGM, tr.calEGM {background-color: #858E95;}
    a.calENT, tr.calENT {background-color: #C94088;}
    a.calFLM, tr.calFLM {background-color: #4B4761;}
    a.calHMN, tr.calHMN {background-color: #2A3181;}
    a.calKID, tr.calKID {background-color: #9470AA;}
    a.calLRP, tr.calLRP {background-color: #AE8B1C;}
    a.calMHE, tr.calMHE {background-color: #E8B51C;}
    a.calNMN, tr.calNMN {background-color: #686F1F;}
    a.calRPG, tr.calRPG {background-color: #448A80;}
    a.calRPGA, tr.calRPGA {background-color: #D67917;}
    a.calSEM, tr.calSEM {background-color: #009CDF;}
    a.calSPA, tr.calSPA {background-color: #A6C749;}
    a.calTCG, tr.calTCG {background-color: #1C944A;}
    a.calTDA, tr.calTDA {background-color: #771F17;}
    a.calTRD, tr.calTRD {background-color: #878F68;}
    a.calWKS, tr.calWKS {background-color: #5E3C03;}
    a.calZED, tr.calZED {background-color: #75B9B8;}

    #eventContent { display: none; }
  </style>
  

</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" th:replace="core :: topnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gen Con 2018 Scheduler</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <form class="navbar-form navbar-right col-sm-6" action="/search">
        <input type="text" class="form-control" style="min-width: 300px;" placeholder="Search..." />
      </form>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <h1 class="page-header">Starred Events</h1>
  <div class="row">
    <div class="main">

      <ul class="nav nav-tabs nav-justified" id="starredgroup">
        <li class="active"><a href="#calendar-tab" data-toggle="tab">Calendar</a></li>
        <li><a href="#day-tab" data-toggle="tab">By day</a></li>
        <li><a href="#type-tab" data-toggle="tab">By type</a></li>
        <li><a href="#replace-tab" data-toggle="tab">Bulk replace starred</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane" id="replace-tab">
          <h3>Replace your starred events</h3>
          <p>Click your user's tab from gencon.com and copy/paste the "My Schedule" section into this text box.</p>
          <form method="post" th:action="@{${urls.sitePath('starred')}}">
            <textarea rows="25" cols="100" name="schedule">
            Drop your events here -- when you hit submit, your starred list will be replaced by events in here (even if there are none).
            </textarea>
           <input type="submit" value="Submit"/>
          </form>
        </div>
        <div class="tab-pane" id="day-tab">
          <div th:each="day : ${eventsByDay.keySet()}">
            <h3 th:text="${day}">Wednesday</h3>

            <div style="padding-left: 3em;" th:each="r : ${eventsByDay.get(day)}">
              <ul class="list-unstyled"
                  th:classappend="${r.canceled} ? bg-danger">
                <li>
                  <strong>
                    <span th:text="${r.readableStartTime}">8:00am</span> - <span th:text="${r.readableEndTime}">10:00pm</span>
                  </strong>: <a href="/event/1234" th:href="@{${urls.sitePath('event') + r.gameId}}"><span th:text="${r.gameId}">TDA1234567</span></a>
                  <span th:text="${r.title}">Lycans Afoot!</span> (<a href="#" th:href="@{${r.genconUrl}}">Official Listing</a>)</li>
                <li style="padding-left: 2em"><a href="#" th:href="@{${urls.sitePath('category') + r.eventTypeAbbreviation}}" th:text="${r.eventType}">TDA - True Dungeon Adventures</a>
                  <span th:unless="${r.gameSystem == null &amp;&amp; r.rulesEdition == null}" th:text="'/ ' + ${r.gameSystem} + ' ' + ${r.rulesEdition}"></span></li>
                <li th:if="${r.canceled}"><strong>This event has been canceled.</strong></li>
                <li style="padding-left: 2em" th:text="${r.shortDescription}">Face off against werewolves in True Dungeon!</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="type-tab">
          <div th:each="category : ${eventsByCategory.keySet()}">
            <h3 th:text="${category}">Category</h3>

            <div style="padding-left: 3em;"
                 th:each="r : ${eventsByCategory.get(category)}">
              <ul class="list-unstyled"
                  th:classappend="${r.canceled} ? bg-danger">
                <li><strong>
                  <span th:text="${r.readableDay}">Thursday</span> <span th:text="${r.readableStartTime}">8:00am</span> - <span th:text="${r.readableEndTime}">10:00pm</span>
                </strong>: <a href="/event/1234" th:href="@{${urls.sitePath('event') + r.gameId}}"><span th:text="${r.gameId}">TDA1234567</span></a>
                  <span th:text="${r.title}">Lycans Afoot!</span> (<a href="#" th:href="@{${r.genconUrl}}">Official Listing</a>)
                </li>
                <li th:if="${r.canceled}"><strong>This event has been canceled.</strong></li>
                <li><span th:unless="${r.gameSystem == null &amp;&amp; r.rulesEdition == null}" th:text="${r.gameSystem} + ' ' + ${r.rulesEdition}"></span></li>
                <li style="padding-left: 2em" th:text="${r.shortDescription}">Face off against werewolves in True Dungeon!</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane active" id="calendar-tab">
          <!-- This doesn't look as good as it should... -->
          <ul class="nav nav-pills nav-justified" id="daygroup">
            <li><a href="#wednesday">Wednesday</a></li>
            <li class="active"><a href="#thursday">Thursday</a></li>
            <li><a href="#friday">Friday</a></li>
            <li><a href="#saturday">Saturday</a></li>
            <li><a href="#sunday">Sunday</a></li>
          </ul>
          <div id='calendar' class="tab-content" style="padding-top: 10px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="eventContent" title="Event Details">
  <div id="eventInfo"></div>
  <p><strong><a id="genconLink" target="_blank">GenCon</a></strong></p>
  <p><strong><a id="plannerLink" target="_blank">Planner Page</a></strong></p>
</div>

<div th:replace="core :: pagefooter">I did this!</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.16/moment-timezone-with-data-2012-2022.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

<script th:inline="javascript">
/*<![CDATA[*/
  $('#starredgroup a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

  $('#starredgroup a[href="#calendar-tab"]').click(function(e) {
    // The calendar won't render when hidden, so when we select the tab, we need to show it again
    $('#calendar').fullCalendar('render');
  });

  $('#daygroup a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

  // These are all horribly redundant... but my js-foo isn't there yet.
  $('#daygroup a[href="#wednesday"]').click(function(e) {
    e.preventDefault();

    $('#calendar').fullCalendar( 'gotoDate', "2018-08-01");
  });

  $('#daygroup a[href="#thursday"]').click(function(e) {
    e.preventDefault();
    $('#calendar').fullCalendar( 'gotoDate', "2018-08-02");
  });

  $('#daygroup a[href="#friday"]').click(function(e) {
    e.preventDefault();
    $('#calendar').fullCalendar( 'gotoDate', "2018-08-03");
  });

  $('#daygroup a[href="#saturday"]').click(function(e) {
    e.preventDefault();
    $('#calendar').fullCalendar( 'gotoDate', "2018-08-04");
  });

  $('#daygroup a[href="#sunday"]').click(function(e) {
    e.preventDefault();
    $('#calendar').fullCalendar( 'gotoDate', "2018-08-05");
  });

  $(document).ready(function() {
    // And populate the calendar
    var groupedEvents = /*[[${calendarEvents}]]*/;
    var events = [];

    for (var i = 0; i < groupedEvents.length; i++) {
      group = groupedEvents[i];
      events.push({
        title: group.title,
        start: moment.unix(group.startTimeSeconds).tz('America/New_York'),
        end: moment.unix(group.endTimeSeconds).tz('America/New_York'),
        url: group.plannerUrl,
        className: ['cal' + group.shortCat, 'calevent'],
        location: group.location,
      });
    }

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'agendaWeek,agendaDay,listWeek'
      },
      views: {
        agendaWeek: {
          buttonText: 'Week'
        },
        agendaDay: {
          buttonText: 'Day'
        },
        listWeek: {
          buttonText: 'Agenda View'
        }
      },
      firstDay: 3,
      defaultDate: '2018-08-02',
      navLinks: false,
      timezone: 'America/New_York',
      defaultView: 'agendaWeek',
      editable: false,
      hiddenDays: [1, 2],
      eventClick: function(event) {
        if (event.plannerUrl) {
          // open in new tab
          window.open(event.plannerUrl);
          return false;
        }
      },
      allDayDefault: false,
      events: events
    });
  });

/*]]>*/
</script>

</body>
</html>
